<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firsttestproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Firsttestproject"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".firebase_realtime.UserListActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Firebase_login.newuser"
            android:exported="true" />
        <activity
            android:name=".Firebase_login.Dashbord"
            android:exported="true" />
        <activity
            android:name=".Firebase_login.LoginPage"
            android:exported="true">

        </activity>
        <activity
            android:name=".NearEarthAPI.NearEarthActivity"
            android:exported="true"></activity>
        <activity
            android:name=".josn_parsing.OnlineJsonActivity"
            android:exported="true"></activity>
        <activity
            android:name=".room_crud.NewNotpad"
            android:exported="false" />
        <activity
            android:name=".room_crud.NotesAppActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".internal_external.InternalExternalActivity"
            android:exported="true" />
        <activity
            android:name=".expandabletoolbar.MyToolbar"
            android:exported="true" />
        <activity
            android:name=".Mainpageofall.MainActivityOfAll"
            android:exported="true" />
        <activity
            android:name=".searchview.EmpListActivity"
            android:exported="true" />
        <activity
            android:name=".gallery_recyclerView.ShowDataActivity"
            android:exported="false" />
        <activity
            android:name=".gallery_recyclerView.GalleryActivity"
            android:exported="true" />
        <activity
            android:name=".recycleview.EmpListActivity"
            android:exported="true" />
        <activity
            android:name=".Listview.Listview"
            android:exported="true" />
        <activity
            android:name=".viewpager.MyViewPagerActivity"
            android:exported="true" />
        <activity
            android:name=".Navigation.Drawer"
            android:exported="false" />
        <activity
            android:name=".Dialog.DialogActivity"
            android:exported="true" />
        <activity
            android:name=".Menu.MenuActivity"
            android:exported="true" />
        <activity
            android:name=".Widget_Component.Seekbar"
            android:exported="false" />
        <activity
            android:name=".Widget_Component.WidgetButton"
            android:exported="true" />
        <activity
            android:name=".Widget_Component.STCactivity"
            android:exported="true" />
        <activity
            android:name=".fragment.holder"
            android:exported="false" />
        <activity
            android:name=".regestration.Dashbord"
            android:exported="false" />
        <activity
            android:name=".regestration.newuser"
            android:exported="true" />
        <activity
            android:name=".regestration.LoginPage"
            android:exported="true" />
        <activity
            android:name=".objpassing.Objbindingpassing"
            android:exported="true" />
        <activity
            android:name=".textview.TwoActivity"
            android:exported="true" />
        <activity
            android:name=".textview.OneActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>